/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
    font-family: 'Poppins', sans-serif;
} 

.container {
    width: 1200px;
    margin: 50px auto;
}

/* Banner */
.bg-color {
    background: #161616;
    border-radius: 30px;
}

.header-banner {
    display: flex;
    align-items: center;
}

.header-details {
    color: #FFFFFF;
    width: 531px;
    padding: 110px 24px 110px 106px;
}

.header-details h2 {
    font-weight: 700;
    font-size: 54px;
}

.header-details p {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 38px;
}

.header-img img {
    width: 581px;
    margin: 33px 79px -7px 0;
}

.button-link {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid;
    padding: 15px 34px;
    background: #DD0000;
    border-radius: 5px;
}

.button-link:hover {
    border: none;
}

.fa-angle-right {
    position: relative;
    animation-name: angle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* animation added */
@keyframes angle {
    0% {
        color: #FFFFFF;
        left: 0;
    }

    50% {
        left: 16px;
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 32px;
    }
}

/* This is blog section */
.blog-left {
    display: flex;
}

.blog-menu {
    width: 225px;
    background: #161616;
    border-radius: 10px;
    padding: 15px;
    height: 235px;
}

.blog-menu>.upcoming {
    margin-top: 14px;
}

.blog-menu a {
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    color: #161616;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.blog-menu>.active {
    background: #DD0000;
    color: #FFFFFF;
}

/* blog-article */
.match-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-img h4 {
    margin: 0 23px;
}

.blog-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    margin-left: 25px;
}

.blog {
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 53px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 265px;
}

.blog-details {
    padding: 20px;
}

.blog-details h3 {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-top: 15px;
    margin-bottom: 20px;
}

.match-details {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.match-details h3 {
    margin-bottom: 5px;
}

.match-details p {
    color: #4D4D4D;
    font-weight: 400;
    font-size: 14px;
}

.blog-details a {
    color: #161616;
    text-decoration: none;
    border: 1px solid;
    padding: 5px 18px;
    border-radius: 5px;
}

.blog-info {
    color: rgba(22, 22, 22, 0.7);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.chat-icon {
    width: 14px;
}

.view-button {
    display: none;
}

/* Footer statr */
footer {
    background: #161616;
    /* height: 444px; */
    padding: 100px 140px;
    padding-bottom: 25px;
}

.goal h2 {
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 35px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-menu {
    margin: 35px 0;
    text-align: center;
}

.footer-menu a {
    font-weight: 500;
    font-size: 14px;
    color: #B9B9B9;
    text-decoration: none;
    margin: 0 20px;
}

.menu-icon {
    font-size: 25px;
    text-align: center;
    margin: 35px 0;
}

.menu-icon .fa-brands {
    color: #FFFFFF;
    margin-left: 30px;
}


